* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    /* background-color: #121212;
    color: white; */
    text-align: center;
    background: linear-gradient(to bottom, white, #c8f7c5);
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #0b570b;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.title {
    font-size: 28px;
    margin: 30px 0;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.movie {
    position: relative;
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s;
}

.movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.movie:hover {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: bottom 0.4s ease-in-out;
}

.movie:hover .overlay {
    bottom: 0;
}

.overlay h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.overlay button {
    padding: 8px 16px;
    font-size: 14px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 5px;
}

.overlay button:hover {
    background: darkred;
}

footer {
    background-color: #1e1e1e;
    padding: 30px;
    margin-top: 30px;
    color: white;
}
.row {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}
